@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #1c57b6;
    --cor1: #152275;
    --cor2: #007bff;
    --cor3: #172A3E;
    --cor4: black;
    --fonte-titulo: 'Ms Madi';
    --fonte-titulo-2-ou-normal: Montserrat;
    --fonte-titulo-3: Poppins;
    --fonte-padrao: Arial, Helvetica, Sans-serif;
    --fonte-paragrafo: Montserrat;
    --fonte-handwriting: 'Mrs Saint Delafield';

}
body{
    background-color: rgb(0, 0, 0);
}
header{
    /*background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));*/
    background-image: url(../imagens/imagen-fundo-inicio.jpg);
    height: 150px;
    padding: 40px;
    text-align: center;
}
header > h1{
    color: white;
    font-family: var(--fonte-titulo-2-ou-normal);
    font-size: 3.5em;
    text-shadow: 5px 6px 5px #00000073;
    margin: auto;
}
header > p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--fonte-padrao);
     text-shadow: 5px 6px 5px #00000073;
}
nav{
    background-color: var(--cor4);
    padding: 15px 15px 5px 15px;
}
nav > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px 5px 15px;
    border-radius: 5px;
}
nav >a:hover{
    background-color: var(--cor0);
    transition-duration: 0.5s;
}
.tema-assunto{
    display: none;
}
nav > a:hover > .tema-assunto{
    display: inline;
}
main{
    margin: auto;
    background-color: rgb(0, 2, 33);
    padding: 20px;
    min-width: 230px;
    max-width: 1111px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main > article >h1, h2, h3, h4, h5, h6{
    font-family: var(--fonte-titulo-3);
    color: var(--cor3);
}
main > article > h1.titulo-principal{
    text-align: center;
    font-size: 3em;
    padding: 10px;
    margin-bottom: 10px;
}
main > article > h1.titulo-do-assunto{
    font-size: 2em;
    margin-left: 25px;
    margin-top: 20px;
}
abbr{
    text-decoration: none;
}
main > article > p{
    font-family: var(--fonte-paragrafo);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    font-weight: 300;
}
ul > li{
    padding: 5px;
    font-family: var(--fonte-paragrafo);
}
main > article{
    padding: 20px;
}
div.imagen-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
div.imagen-flex > img{
    width: 60%;
}
div.imagen-flex > p{
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: 200;
}
.assunto-ou-tema > a{
    text-decoration: none;
    color: rgb(94, 94, 94);
    padding: 15px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.assunto-ou-tema > a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgba(156, 155, 155, 0.721);
    color: white;
    text-align: center;
    padding: 10px;
}
aside ul{
    list-style-type: square;
    color: white;
}
aside a{
    color: white;
}
aside{
    background-color: var(--cor3);
    color: white;
    text-align: center;
    padding: 5px 0px 0px 0px;
}
.video{
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 15px;
    margin: 0px -38px 40px -38px;
    padding-bottom: 40%;
    position: relative;
}
.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 88%;
    height: 88%;
}
#div-de-exemplo-em-elementos-dentro-de-uma-div{
    background-color: gray;
    color: white;
}
#div-de-exemplo-em-elementos-dentro-de-uma-div > p{
    display: none;
}
#div-de-exemplo-em-elementos-dentro-de-uma-div > p:hover{
    display: block;
    background-color: greenyellow;
}
#d1{
    background-color: gray;
    color: white;
}
#d2{
    background-color: gray;
    color: white;
}
#d3{
    background-color: gray;
    color: white;
}
#d1 > p{
    display: none;
}
#d2 > p{
    display: none;
}
#d3 > p{
    display: none;
}
#d1:hover{
    display: block;
    background-color: greenyellow;
}
#d2 > p:hover{
    display: block;
    background-color: greenyellow;
}
#d3 > p:hover{
    display: block;
    background-color: greenyellow;
}
.imagen-principal{
    width: 100%;
    display: block;   
    margin: 20px auto; 
    height: auto;
}
.imagen-icone-principal{
    display: inline-block; 
    vertical-align: middle;
    width: 20%;
    height: 200px;
    margin: 10px;
    padding: 50px;
    border: 1px solid black;
    background-color: rgb(236, 236, 236);
        }
 .html-assuntos{
   
    padding: 10px;    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 13%;
    background-color: darksalmon;
    color: white;
    font-family: Poppins;
    text-align: center;
    margin-bottom: 15px;
        }
.meu-nome{
    font-family: var(--fonte-handwriting);
    font-size: 3em;
}


